<div class="container">
  <div class="row">
    <%= render 'books/left' %>
    <div class="col-xs-9 right-content">

      <table>
        <h1>Books</h1>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
             <tr>                <!-- ここのbook.userがアソシエーション肝、これを抵抗なく使えるようになれれば良き -->
               <td><%= link_to user_path(book.user) do %>
                     <%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, fallback: "noimage.jpg" %>
                   <% end %>
               </td>
               <td><%= link_to "/books/#{book.id}" do %>
                     <%= book.title %>
                   <% end %>
               </td>
               <td><%= book.body %></td>
             </tr>
           <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>